<%- include('partials/head')%>
<body>
	<div class="text-center vh-100 d-flex justify-content-center align-items-center">
		<p class="fs-3"><b>404.</b> Not found.<br>¡Ups! the url <b><%= urlId %></b> doesn't exist :(</p>
	</div>
</body>
</html>

 