
		<%- include('partials/head')%>
	<body>
		<%- include('partials/navigation')%>
		<div class="text-center vh-100 d-flex justify-content-center align-items-center">
			<p class="fs-3">
				Sorry i'm still working on this page, thanks for your patience nwn
			</p>
		</div>
		<%- include('partials/footer')%>
		<%- include('partials/scripts')%>
	</body>
</html>
